:root {
    --main-bg-color: #1C1B1E;
    --gradient-main-theme-color: #FF8318;
    --gradient-secondary-theme-color: #FF6C10;
    --text-color: #F8F6FC;
    --secondary-text-color: #BFC0C6;
    --accent-color: #FF8000;
    --accent-hover-color: #FF7D16;
    --button-hover-color: #FE922C;
    --header-height: 64px;
}

body {
    font-family: Montserrat, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-weight: 600;
    font-size: 32px;
}

h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

.d-none {
    display: none !important;
}

.text-center {
    text-align: center;
}

.text-md {
    font-size: 20px;
}

.text {
    font-size: 16px;
}

.text-sm {
    font-size: 14px;
}

.text-accent {
    color: var(--accent-color);
}

.text-secondary {
    color: var(--secondary-text-color);
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    color: var(--text-color);
}

body {
    color: var(--text-color);
    background-color: var(--main-bg-color);
}

.gradient-border {
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #727272, rgba(114, 114, 114, 0.1));
}

.gradient-border_bottom {
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.gradient-border_top {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.container {
    max-width: 1372px;
    margin: 0 auto;
}

.header-wrap {
    background-color: var(--main-bg-color);
    position: sticky;
    top: 0;
    z-index: 4;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.header__tel {
    margin-right: 24px;
    display: none;
}

.header__nav {
    font-size: 20px;
    gap: 50px;
    display: none;
    margin-left: 50px;
}

.link-reverse {
    color: var(--text-color);
}

.link-reverse:hover {
    color: var(--button-hover-color);
}

.hero {
    height: calc(100vh - 80px - var(--header-height));
    max-height: 680px;
    padding: 40px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("./img/hero-bg.webp");
}

.hero__title {
    margin-bottom: 32px;
}

.hero__meta {
    max-width: 444px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 24px;
    margin-top: 40px;
}

.info {
    padding: 70px 12px;
    max-width: 715px;
    margin: 0 auto;
}

.info__title {
    font-size: 28px;
    margin-bottom: 40px;
}

.info__text {
    margin-bottom: 24px;
}

.speakers {
    padding: 24px 12px 70px;
}

.speakers__wrap {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.speakers__title {
    margin-bottom: 40px;
}

.speaker {
    margin-bottom: 36px;
    max-width: 320px;
}

.speaker__img {
    height: 320px;
    width: 320px;
    margin-bottom: 24px;
}

.speaker__name {
    margin-bottom: 12px;
}

.statistics {
    padding: 100px 12px;
    background: url("./img/statistics-bg.webp") no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.program {
    padding: 70px 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.program__btn {
    margin: 40px auto 0;
}

.program-list {
    width: 100%;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.program-list__hide .program-list__item:nth-child(n+4) {
    display: none;
}

.program-list__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 28px 0;
    border-bottom: 1px solid var(--accent-color);
}

.program-list__text {
    margin-top: 12px;
}

.cta {
    padding: 80px 12px 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("./img/cta-lines.avif");
}

.cta__title {
    margin-bottom: 40px;
}

.cta__content {
    margin: 0 auto 60px;
    max-width: 716px;
}

.cta__button {
    margin-bottom: 14px;
}

.footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 40px;
}

.footer__logo {
    margin-bottom: 32px;
}

.footer__tel {
    margin-bottom: 65px;
}

.social {
    margin-bottom: 52px;
    display: flex;
    gap: 26px;
}

.social__item {
    height: 40px;
    width: 40px;
    border: 1px solid var(--accent-hover-color);
}

.icon {
    background-repeat: no-repeat;
    background-position: center;
}

.icon_instagram {
    background-image: url("./img/instagram-icon.svg");
}

.icon_youtube {
    background-image: url("./img/youtube-icon.svg");
}

.icon_facebook {
    background-image: url("./img/facebook-icon.svg");
}

.icon_linkedin {
    background-image: url("./img/linkedin-icon.svg");
}

.btn {
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 11px 32px;
    outline: none;
}

.btn_primary {
    background: linear-gradient(90deg, var(--gradient-main-theme-color), var(--gradient-secondary-theme-color));
    color: var(--text-color);
    border: none;
}

.btn_primary:hover {
    background: var(--button-hover-color);
}

.btn_gradient {
    background-color: transparent;
    position: relative;
    border: none;
}

.btn_text {
    position: relative;
    color: var(--text-color);
}

.btn_gradient:after {
    content: "";
    background: rgb(255,131,24);
    background: linear-gradient(90deg, rgba(255,131,24,1) 0%, rgba(255,131,24,0.09989933473389356) 100%);
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    position: absolute;
    z-index: -1;
}

.btn_gradient:hover:after {
    background: var(--button-hover-color);
}

.btn_gradient:before {
    content: "";
    background-color: var(--main-bg-color);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 0;
}

.btn_large {
    width: 100%;
    max-width: 444px;
}

@media (min-width: 600px) {
    .info {
        text-align: center;
    }
}

@media (min-width: 800px) {
    .header__nav,
    .header__tel {
        display: inline-flex;
    }
}