:root {
    --main-bg-color: #1C1B1E;
    --gradient-main-theme-color: #FF8318;
    --gradient-secondary-theme-color: #FF6C10;
    --text-color: #F8F6FC;
    --secondary-text-color: #BFC0C6;
    --accent-color: #FF8000;
    --accent-hover-color: #FF7D16;
    --header-height: 64px;
}

body {
    font-family: Montserrat, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-weight: 600;
    font-size: 32px;
}

h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

.text-center {
    text-align: center;
}

.text-md {
    font-size: 20px;
}

.text {
    font-size: 16px;
}

.text-sm {
    font-size: 14px;
}

.text-accent {
    color: var(--accent-color);
}

.text-secondary {
    color: var(--secondary-text-color);
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    color: var(--accent-hover-color);
}

body {
    color: var(--text-color);
    background-color: var(--main-bg-color);
}

.gradient-border {
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #727272, rgba(114, 114, 114, 0.1));
}

.gradient-border_bottom {
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.gradient-border_top {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.container {
    max-width: 1372px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: var(--main-bg-color);
    position: sticky;
    top: 0;
}

.hero {
    height: calc(100vh - 80px - var(--header-height));
    max-height: 680px;
    padding: 40px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("./img/hero-bg.png");
}

.hero__title {
    margin-bottom: 32px;
}

.hero__meta {
    max-width: 444px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 24px;
    margin-top: 40px;
}

.info {
    padding: 70px 12px;
}

.info__title {
    font-size: 28px;
    margin-bottom: 40px;
}

.info__text {
    margin-bottom: 24px;
}

.speakers {
    padding: 24px 12px 70px;
}

.speakers__title {
    margin-bottom: 40px;
}

.speaker {
    margin-bottom: 36px;
}

.speaker__img {
    border: 1px solid var(--accent-color);
    height: 336px;
    width: 336px;
    margin-bottom: 24px;
}

.speaker__name {
    margin-bottom: 12px;
}

.statistics {
    padding: 100px 12px;
    background: url("./img/statisitcs-bg.png") no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.program {
    padding: 70px 12px;
}

.program-list {
    list-style: none;
    padding-left: 0;
}

.program-list__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 28px 0;
    border-bottom: 1px solid var(--accent-color);
}

.program-list__text {
    margin-top: 12px;
}

.cta {
    padding: 80px 12px 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./img/cta-lines.png");
}

.cta__title {
    margin-bottom: 40px;
}

.cta__content {
    margin-bottom: 60px;
}

.cta__button {
    margin-bottom: 14px;
}

.footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 40px;
}

.footer__logo {
    margin-bottom: 32px;
}

.footer__tel {
    margin-bottom: 65px;
}

.social {
    margin-bottom: 52px;
    display: flex;
    gap: 26px;
}

.social__item {
    height: 40px;
    width: 40px;
    border: 1px solid var(--accent-hover-color);
}

.icon {
    background-repeat: no-repeat;
    background-position: center;
}

.icon_instagram {
    background-image: url("./img/instagram-icon.svg");
}

.icon_youtube {
    background-image: url("./img/youtube-icon.svg");
}

.icon_facebook {
    background-image: url("./img/facebook-icon.svg");
}

.icon_linkedin {
    background-image: url("./img/linkedin-icon.svg");
}

.btn {
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 11px 32px;
    outline: none;
}

.btn_primary {
    background: linear-gradient(90deg, var(--gradient-main-theme-color), var(--gradient-secondary-theme-color));
    color: var(--text-color);
    border: none;
}

.btn_secondary {
    background: transparent;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.btn_large {
    width: 100%;
    max-width: 444px;
}